<!DOCTYPE html>
<html lang="es">
<head>
    <link rel="stylesheet" href="~/assets/css/main.css" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>La Lucha - @ViewBag.Title</title>
</head>
<body class="subpage">

        <div class="container body-content">

        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - La Lucha. All rights reserved - Visitanos en Calle ARCE</p>
        </footer>
    </div>
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/js/jquery.scrollex.min.js"></script>
    <script src="assets/js/skel.min.js"></script>
    <script src="assets/js/util.js"></script>
    <script src="assets/js/main.js"></script>
</body>
</html>

